/* nangkoel@gmail.com
 * www.nangkoel.com
 * Bogor Indonesia`2008
 */
.detailEmpl{
	 background-color: #EFFFFE;
	 border:#555D71 solid 8px;
}
.imgdetail{
	 border:#E0DFE3 solid 2px;
	 background-color:#FFFFFF;
	 height:120px;
}



