/* nangkoel@gmail.com
 * www.nangkoel.com
 * Bogor Indonesia`2008
 */

  .privillageIcon
  {
  	
  }
  .privillageIcon:hover{
  
  }
  .privilball{
   height:12px;
   vertical-align:bottom;
   cursor:pointer;	
  }
  .privil:hover{
  	height:14px;
  }
  
