
/*===========Do Not Change =======================*/
.qmmc .qmdivider{display:block;font-size:1px;border-width:0px;border-style:solid;position:relative;z-index:1;}.qmmc .qmdividery{float:left;width:0px;}.qmmc .mtitle{display:block;cursor:default;white-space:nowrap;position:relative;z-index:1;}.qmclear {font-size:1px;height:0px;width:0px;clear:left;line-height:0px;display:block;float:none !important;}.qmmc {position:relative;zoom:1;z-index:10;}.qmmc a, .qmmc li {float:left;display:block;white-space:nowrap;position:relative;z-index:1;}.qmmc div a, .qmmc ul a, .qmmc ul li {float:none;}.qmsh div a {float:left;}.qmmc div{visibility:hidden;position:absolute;}.qmmc .qmcbox{cursor:default;display:block;position:relative;z-index:1;}.qmmc .qmcbox a{display:inline;}.qmmc .qmcbox div{float:none;position:static;visibility:inherit;left:auto;}.qmmc li {z-index:auto;}.qmmc ul {left:-10000px;position:absolute;z-index:10;}.qmmc, .qmmc ul {list-style:none;padding:0px;margin:0px;}.qmmc li a {float:none}.qmmc li:hover>ul{left:auto;}#qm0 ul {top:100%;}#qm0 ul li:hover>ul{top:0px;left:100%;}
.qmfv{visibility:visible !important;}.qmfh{visibility:hidden !important;}
/*===========Change below=======================*/
	#qm0 a
	{
		padding:5px 4px 5px 5px;
		font-family:Arial;
		color:#FFFFFF;
		font-size:11px;
		text-decoration:none;
	}


	/*"""""""" (SUB) Container""""""""*/
	#qm0 div, #qm0 ul
	{
		padding:10px;
		margin:-2px 0px 0px 0px;
		background-color:transparent;
		/*background-color:#FF9933;*/
		border-style:none;
	}


	/*"""""""" (SUB) Items""""""""*/
	#qm0 div a, #qm0 ul a
	{
		padding:3px 10px 3px 5px;
		background-color:transparent;
		/*background-color:#FF9933; */
		font-size:11px;
		border-width:0px;
		border-style:none;
	}


	/*"""""""" (SUB) Hover State""""""""*/
	#qm0 div a:hover
	{
		background-color:#E9740C;
		color:#000000;/* sub menu*/
	}


	/*"""""""" (SUB) Hover State - (duplicated for pure CSS)""""""""*/
	#qm0 ul li:hover>a
	{
		background-color:#E8F2FE;
		color:#CC0000;
	}


	/*"""""""" (SUB) Active State""""""""*/
	body #qm0 div .qmactive, body #qm0 div .qmactive:hover
	{
		background-color:#E9740C;
		color:#0000AA;/*parent sub menu*/
	}


	/*"""""""" Individual Titles""""""""*/
	#qm0 .mtitle
	{
		cursor:default;
		padding:3px 0px 3px 4px;
		color:#FBDC89;
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
	}


	/*"""""""" Individual Horizontal Dividers""""""""*/
	#qm0 .qmdividerx
	{
		border-top-width:1px;
		margin:4px 0px 4px 0px;
		border-color:#BFBFBF;
	}


	/*"""""""" Individual Vertical Dividers""""""""*/
	#qm0 .qmdividery
	{
		border-left-width:1px;
		height:15px;
		margin:4px 6px 0px 6px;
		border-color:#AAAAAA;
	}


	/*"""""""" (main) Rounded Items""""""""*/
	#qm0 .qmritem span
	{
		border-color:#E8750D;
		background-color:#275370;
		/*background-color:#FF9933;*/
	}


	/*"""""""" (main) Rounded Items Content""""""""*/
	#qm0 .qmritemcontent
	{
		padding:0px 0px 0px 4px;
		color:#CC0000;
	}


	/*"""""""" Custom Rule""""""""*/
	ul#qm0 ul
	{
		padding:10px;
		margin:-2px 0px 0px 0px;
		background-color:#F7F7F7;
		border-width:1px;
		border-style:solid;
		border-color:#DADADA;
	}


	/*"""""""" Custom Rule""""""""*/
	ul#qm0 li:hover > a
	{
		background-color:#F7F7F7;
	}
